footer.footer.box-s
  .container.grid.grid--footer
    .logo-col
      a.footer-logo(href='#')
        img.logo( src='../imgs/X.png' alt='x gamer logo')
      ul.social-links
        li
          a.footer-link(href='#')
            ion-icon.social-icon(name='logo-instagram')
        li
          a.footer-link(href='#')
            ion-icon.social-icon(name='logo-facebook')
        li
          a.footer-link(href='#')
            ion-icon.social-icon(name='logo-twitter')
      p.copyright
        | Copyright &copy; 
        span.year 2022
        |  by BE X GAMER.
        |           All rights reserved.
    .address-col
      p.footer-heading CONCETS
      ul.footer-nav
        li
          a.footer-link(href='#') GOOGLE TEAMS &amp; SERVICE
        li
          a.footer-link(href='#') GOOGLE POLICYS
        li
          a.footer-link(href='#') Careers
    nav.nav-col
      p.footer-heading ACCOUNT
      ul.footer-nav
        li
          a.footer-link(href='#') Create account
        li
          a.footer-link(href='#') Sign in
        li
          a.footer-link(href='#') singup
        // <li><a class="footer-link" href="#">REPORT US</a></li>
    nav.nav-col
      p.footer-heading DISCOVER
      ul.footer-nav
        li
          a.footer-link(href='#') HOW TO PLAY
        li
          a.footer-link(href='#') REPORT US
        li
          a.footer-link(href='#') DONATE US
    nav.nav-col
      p.footer-heading GAMES
      ul.footer-nav
        li
          a.footer-link(href='#') PUBG MOBLIE 
        li
          a.footer-link(href='#') FREE FIRE MOBLIE
        li
          a.footer-link(href='#')  COD MOBLIE
  p.ft.center-text
    | This site is protected by reCAPTCHA Enterprise and the Google 
    span.span-2 Privacy Policy
    |  And 
    span.span-3 Terms of Use
    |  apply
  p.ft.center-text
    | ALL RIGHTS ARE RECIEVCED XGAMER