extends base
block content
  section.login
      .c2
        h1.heading-login LOGIN TO YOUR ACCOUNT
        h3.heading-h2
          | Don&apos;t have an account? 
          a.span-b.center-text(href='/signup') Sign Up
        form.form(action='submit')
          input#email.input-f(type='email', placeholder='EMAIL', name='email', required='')
          input#PASSWORD.input-f(type='PASSWORD', placeholder='PASSWORD', name='PASSWORD', minlength='8', required='')
          h3.heading-h3
            a.span-b.center-text(href='#') Forgot Password or Email?
          button.btn.btn--green Login

  //- main.main
  //-   .login-form
  //-     h2.heading-secondary.ma-bt-lg Log into your account
  //-     form.form.form--login
  //-       .form__group
  //-         label.form__label(for='email') Email address
  //-         input#email.form__input(type='email', placeholder='you@example.com', required)
  //-       .form__group.ma-bt-md
  //-         label.form__label(for='password') Password
  //-         input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
  //-       .form__group
  //-         button.btn.btn--green Login