extends base
block content
  span.subheading.Tournaments.center-text
    | Tournament
  section.Tournament
    .tournament_h
      h3.profile-h= `${tournament.name}`
      img.tournament_imgs.ts(src=`/img/tours/${tournament.imgCover}` alt='')
      .tournament-divs
        ion-icon.tour-icons(name='trophy-outline')
        p.profile-h= `Prize Pool : $ ${tournament.pize}`
        ion-icon.tour-icons(name='star')
        p.profile-hm
          | The room id will shown right 15 min Before the game starts.
      .tournament-divs
        ion-icon.tour-icon(name='key')
        p.profile-h
          | THE ROOM ID : 
          span.span-9 11 : 22 : 20
        ion-icon.tour-icons(name='star')
        p.profile-hm
          | The room id will shown right 15 min Before the game
          | starts.
      .tournament-divs
        ion-icon.tour-icons(name='time-outline')
        p.profile-h Sopts left : 22/25
    .tournament_d
      h3.profile-h.live
        | LIVE NOW
      h4.profile-h.lives REGISTATION PHASE
      h3.profile-h.d
        | Details
        //
          <Details>
          <li class="tournament_li">TEAM SIZE : SOLO</li>
          </Details>
      ul.tournament_ul
        li.tournament_li
          | TEAM SIZE : 
          span.tournament-span  SOLO 
        li.tournament_li
          | PLAYERS IN MATCH : 
          span.tournament-span 100 
        li.tournament_li
          | PLATFORM : 
          span.tournament-span  MOBILE
        li.tournament_li
          | TOURNAMENT TYPE : 
          span.tournament-span  ELIMATION 
        li.tournament_li
          | REGION : 
          span.tournament-span  ANY REGION 
        li.tournament_li
          | PRIZE : 
          span.tournament-span  $100 
        a.btnt.btn--tournament.margin-right-sm.mb(href='/login') enter now
    .tournament_info
      h3.profile-h.lives
        | REGISTATION PHASE
      //
        <h3 class="profile-h lives">
        TOURNAMENT INFO
        </h3>
      li.tournament_li-p EXPALNES HOW TO PLAY
      p.tournament_p
        | setap 1 : 
        span
          | Enter for the tournament.A room id well be sent before 30 min
          | of game start
          | BY EMAIL
      p.tournament_p
        | setap 1 : 
        span
          | Enter for the tournament.A room id well be sent before 30 min
          | of game start
      p.tournament_p
        | setap 1 : 
        span
          | Enter for the tournament.A room id well be sent before 30
          | min of game start
    .profile-h.tournament_info2
      h4.tournament_info2-h TOURNAMENT PHASE
      p ROUND - 1
      div ....
      p WINNER
    a.btnt.btn--tournament#book-tour(data-tour-id=`${tournament._id}`)(href='#') Start gaming now