.login{
padding: 0 3rem;
font-family: Poppins;
display: grid;
line-height: 5rem;
align-items: center;
backface-visibility: hidden;
justify-content: center;
padding: 11rem 0;
}
.c2{
display: flex;
flex-direction: column;
gap: 5rem;
}
.form,.form-signup{
display: grid;
align-items: center;
gap: 4rem;
}
.heading-login{
justify-self: center;
}
.heading-h3{
  font-size: 1.8rem;
}
.heading-h2{
  justify-self: center;
  font-size: 1.8rem;
}
.span-p{
color: rgb(195, 0, 255);
}
.span-b{
  color: rgba(112, 100, 249, 0.816);
  text-decoration: none;
}
.span-b:hover{
  color: #55c57a;
}
.inputs{
  display: flex;
  flex-direction: column;
}
/* .input-f select{
  width: 30%;
  font-size: 2rem;
  margin-bottom: 4rem;
  background-color: transparent;
  border: none;
  color: azure;
  border: 1px solid rgb(117, 5, 221);
} */
.input-f {
  border-radius: .3rem;
  font-size: 1.5rem;
  padding: 1.25rem 1.55rem;
  border: none;
  border: 1px solid rgb(255, 255, 255);
  transition: all 0.3s;
  background-color: #2727278b;
  color: #fff;
}
.input-f:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.input-f:focus:invalid {
  border-bottom: 3px solid #ff3030;
}
.input-f::-webkit-input-placeholder {
  color: rgb(130, 130, 130);
}
.btn,
.btn:link,
.btn:visited {
  border-radius: 1.5rem;
  text-decoration: none;
  transition: all 0.4s;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(86, 86, 86, 0.15);
}

.btn:focus {
  /* outline: 1px solid #fff; */
  background-color: #474747;
}

.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}

.btn--green {
  /* width: 50%; */
  font-weight: normal;
  padding: 1.4rem 4rem;
  background-color: #474747;
  color: #fff;
}
.btn--green::after {
  background-color: #55c57a;
}
/* //////////////////////////////// */

.nav-user{
position: absolute;
top: 101%;
right: -100%;
/* transform: translate(-50%, -50%); */
width: 25rem;
height: 39rem;
text-align: center;
background-color: rgb(255, 255, 255);
display: grid;
align-items: center;
border-radius: 1rem;
visibility: hidden;
}
.nav-user div {
  text-align: center;
  padding: 2rem;
  /* border-radius: .5rem; */
  border-left: 3px solid #2744824a;
}
.nav-user div:hover{
  background-color: #55c57a;
  /* background-color: #4115b0; */
}
.profile-li-user{
  font-weight: 500;
  text-transform: capitalize;
  font-family: roboto;
  color: #0d0c22;
  text-decoration: none;
  font-size: 1.8rem;
}
.profie-navs{
  position: relative;
}
.profile-li-user:hover,.profile-li-user:active{
  font-family: roboto;
  color: #fca311;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.8rem;
}
.profie-navs:hover section{
  visibility: visible;
  position: absolute;
  /* top: -250%;
  left: -19%; */
}